<ol class='book-toc'>
  {% for chapter in book.chapters %}
  {% if forloop.index >= include.first_chapter && forloop.index <= include.last_chapter %}
  <li class='chapter'>
  <h2>{{ chapter.cs_number }}. <a href="{{ chapter.sections[0].url | relative_url }}">{{ chapter.title }}</a></h2>
    <ol>
      {% for section in chapter.sections %}
        <li>
          {{ section.cs_number }}
          <a href="{{ section.url | relative_url }}"{% if section.cs_number == page.book.section.cs_number %} class=active{% endif %}>{{ section.title }}</a>
        </li>
      {% endfor %}
    </ol>
  </li>
  {% endif %}
  {% endfor %}
</ol>
